<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.AdminTableMapper">
  <resultMap id="BaseResultMap" type="com.ssm.domain.AdminTable">
    <id column="adm_id" jdbcType="VARCHAR" property="admId" />
    <result column="adm_password" jdbcType="VARCHAR" property="admPassword" />
  </resultMap>
  <sql id="Base_Column_List">
    adm_id, adm_password
  </sql>
  <select id="selectByAll" parameterType="com.ssm.domain.AdminTable" resultType="java.lang.Integer">
    select
    count(*)
    from admintable
    where adm_id = #{admId,jdbcType=VARCHAR} and adm_password = #{admPassword,jdbcType=VARCHAR}
  </select>
</mapper>