<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.AdminInfoMapper">
    <resultMap id="BaseResultMap" type="com.ssm.domain.AdminInfo">
        <id column="admId" jdbcType="VARCHAR" property="admid"/>
        <result column="admPassword" jdbcType="VARCHAR" property="admpassword"/>
    </resultMap>
    <sql id="Base_Column_List">
        admId,admPassword
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from admininfo
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from admininfo
        where admId = #{admid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from admininfo
        where admId = #{admid,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.ssm.domain.AdminInfo">
        insert into admininfo (admId, admPassword)
        values (#{admid,jdbcType=VARCHAR}, #{admpassword,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.ssm.domain.AdminInfo">
        insert into admininfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="admid != null">
                admId,
            </if>
            <if test="admpassword != null">
                admPassword,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="admid != null">
                #{admid,jdbcType=VARCHAR},
            </if>
            <if test="admpassword != null">
                #{admpassword,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ssm.domain.AdminInfo">
        update admininfo
        <set>
            <if test="admpassword != null">
                admPassword = #{admpassword,jdbcType=VARCHAR},
            </if>
        </set>
        where admId = #{admid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ssm.domain.AdminInfo">
        update admininfo
        set admPassword = #{admpassword,jdbcType=VARCHAR}
        where admId = #{admid,jdbcType=VARCHAR}
    </update>
</mapper>