<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.LendInfoMapper">
  <resultMap id="BaseResultMap" type="com.ssm.domain.LendInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="readerid" jdbcType="VARCHAR" property="readerid" />
    <result column="bookid" jdbcType="INTEGER" property="bookid" />
    <result column="lenddate" jdbcType="VARCHAR" property="lenddate" />
    <result column="backdate" jdbcType="VARCHAR" property="backdate" />
    <result column="fine" jdbcType="DOUBLE" property="fine" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, readerid, bookid, lenddate, backdate, fine, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lendlist
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lendlist
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.domain.LendInfo">
    insert into lendlist (id, readerid, bookid, 
      lenddate, backdate, fine, 
      state)
    values (#{id,jdbcType=INTEGER}, #{readerid,jdbcType=VARCHAR}, #{bookid,jdbcType=INTEGER}, 
      #{lenddate,jdbcType=VARCHAR}, #{backdate,jdbcType=VARCHAR}, #{fine,jdbcType=DOUBLE}, 
      #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.domain.LendInfo">
    insert into lendlist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="readerid != null">
        readerid,
      </if>
      <if test="bookid != null">
        bookid,
      </if>
      <if test="lenddate != null">
        lenddate,
      </if>
      <if test="backdate != null">
        backdate,
      </if>
      <if test="fine != null">
        fine,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="readerid != null">
        #{readerid,jdbcType=VARCHAR},
      </if>
      <if test="bookid != null">
        #{bookid,jdbcType=INTEGER},
      </if>
      <if test="lenddate != null">
        #{lenddate,jdbcType=VARCHAR},
      </if>
      <if test="backdate != null">
        #{backdate,jdbcType=VARCHAR},
      </if>
      <if test="fine != null">
        #{fine,jdbcType=DOUBLE},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.domain.LendInfo">
    update lendlist
    <set>
      <if test="readerid != null">
        readerid = #{readerid,jdbcType=VARCHAR},
      </if>
      <if test="bookid != null">
        bookid = #{bookid,jdbcType=INTEGER},
      </if>
      <if test="lenddate != null">
        lenddate = #{lenddate,jdbcType=VARCHAR},
      </if>
      <if test="backdate != null">
        backdate = #{backdate,jdbcType=VARCHAR},
      </if>
      <if test="fine != null">
        fine = #{fine,jdbcType=DOUBLE},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.domain.LendInfo">
    update lendlist
    set readerid = #{readerid,jdbcType=VARCHAR},
      bookid = #{bookid,jdbcType=INTEGER},
      lenddate = #{lenddate,jdbcType=VARCHAR},
      backdate = #{backdate,jdbcType=VARCHAR},
      fine = #{fine,jdbcType=DOUBLE},
      state = #{state,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>